<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="net.juckel.jruby.target" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.jruby.feature.feature.group" version="1.7.3"/>
<repository location="http://ajuckel.github.com/jruby.p2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20121212-203907-7M7fA78g4_y-gDvtH0ZcFvhMPDZJ"/>
<unit id="org.eclipse.jetty.sdk.feature.group" version="8.1.3.201206060641"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
</locations>
</target>
