<?xml version="1.0"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.juckel.jruby.osgi.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.juckel.jruby.osgi.web.id1"
            name="Web Product">
         <property
               name="appName"
               value="Web Product">
         </property>
      </product>
   </extension>
</plugin>
