<?xml version="1.0"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.juckel.jruby.osgi.Application">
         </run>
      </application>
   </extension>
</plugin>
